<ion-menu side="start" content-id="main-content">
    <ion-header>
        <ion-toolbar translucent>
            <ion-title>{{ 'menu.title' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle auto-hide="true">
                <ion-item [routerDirection]="'root'" (click)="simHornTG()">
                    <ion-icon name="locate" slot="start"></ion-icon>
                    <ion-label>TG</ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" (click)="simKt('SG')">
                    <ion-icon name="locate" slot="start"></ion-icon>
                    <ion-label>SG</ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" (click)="simKt('GE')">
                    <ion-icon name="locate" slot="start"></ion-icon>
                    <ion-label>GE</ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" (click)="simKt('BS')">
                    <ion-icon name="locate" slot="start"></ion-icon>
                    <ion-label>BS</ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" (click)="simKt('BE')">
                    <ion-icon name="locate" slot="start"></ion-icon>
                    <ion-label>BE</ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" (click)="simKt('GR')">
                    <ion-icon name="locate" slot="start"></ion-icon>
                    <ion-label>GR</ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" (click)="simKt('TI')">
                    <ion-icon name="locate" slot="start"></ion-icon>
                    <ion-label>TI</ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" (click)="simKt('UR')">
                    <ion-icon name="locate" slot="start"></ion-icon>
                    <ion-label>UR</ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" (click)="simKt('FR')">
                    <ion-icon name="locate" slot="start"></ion-icon>
                    <ion-label>FR</ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" (click)="simKt('SH')">
                    <ion-icon name="locate" slot="start"></ion-icon>
                    <ion-label>SH</ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" (click)="simKt('VD')">
                    <ion-icon name="locate" slot="start"></ion-icon>
                    <ion-label>VD</ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" (click)="simVorarlberg()">
                    <ion-icon name="locate" slot="start"></ion-icon>
                    <ion-label>Ausland</ion-label>
                </ion-item>
                <ion-item [routerDirection]="'root'" (click)="simRandom()">
                    <ion-icon name="locate" slot="start"></ion-icon>
                    <ion-label>Zufall</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
    <ion-header [translucent]="true">
        <ion-toolbar mode="md">
            <!-- ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons -->
            <ion-title>
                {{title}}
            </ion-title>
            <ion-buttons slot="end">
                <ion-button id="locate" [routerDirection]="'root'" (click)="centerLocation()">
                    <ion-icon slot="start" name="locate"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <div id="map" style="height:100%;"></div>
    </ion-content>
</div>
